{% extends "base.html" %}

{% block titulo %} Inventario {% endblock %} 

{% load static %}

{% block contenido %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div id="mi-alerta" class="alert alert-danger fade" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div id="mi-alerta" class="alert alert-success fade" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="boton-actualizar-builds">
<h2 style="margin: 0">Actualizaciones SQL Server</h2>
    <form method="POST" action="{% url 'actualizar_builds' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>


    <div class="tabla-builds">
            <table class="tabla-personalizada">
                <thead>
                    <tr>
                        <th>Version SQL</th>
                        <th>Build</th>
                        <th>KB (Knowledge Base)</th>
                        <th>Descripcion</th>
                        <th>Fecha oficial de publicación del parche</th>
                        <th>Soportado</th>
                        <th>fecha de registro</th>
                    </tr>
                </thead>
                <tbody>
                    {% for build in builds %}
                    <tr>
                        <td>{{build.major_version}}</td>
                        <td>{{build.build}}</td>
                        <td>{{build.kb}}</td>
                        <td>{{build.descripcion}}</td>
                        <td>{{build.release_date}}</td>
                        <td>{{build.soportado}}</td>
                        <td>{{build.fecha_registro}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>      
    </div>

</div>
{% endblock %}