{% extends "base.html" %}

{% block titulo %} Inventario {% endblock %} 

{% load static %}

{% block contenido %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div id="mi-alerta" class="alert alert-danger fade" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div id="mi-alerta" class="alert alert-success fade" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="titulo-personalizado">
    <h2>Actualizaciones SQL Server</h2>
</div>

<form method="GET">
    <div class="filtro-busqueda">
        <div class="busqueda-texto">
            <input type="text" class="form-control" name="buscar" id="" aria-describedby="helpId" placeholder="">
            <!-- Mantener la versión seleccionada -->
            <input type="hidden" name="version" value="{{ request.GET.version }}">
            <button type="submit" class="btn btn-secondary">Buscar</button>
        </div>
        <div class="opciones-sql">
            <button type="submit" value="" name="version" class="btn {% if not request.GET.version %}btn-success{% else %}btn-secondary{% endif %}">Todas las versiones</button>
            <button type="submit" name="version" value="2016" class="btn {% if request.GET.version == '2016' %}btn-success{% else %}btn-secondary{% endif %}">SQL Server 2016</button>
            <button type="submit" name="version" value="2017" class="btn {% if request.GET.version == '2017' %}btn-success{% else %}btn-secondary{% endif %}">SQL Server 2017</button>
            <button type="submit" name="version" value="2019" class="btn {% if request.GET.version == '2019' %}btn-success{% else %}btn-secondary{% endif %}">SQL Server 2019</button>
            <button type="submit" name="version" value="2022" class="btn {% if request.GET.version == '2022' %}btn-success{% else %}btn-secondary{% endif %}">SQL Server 2022</button>
        </div>
    </div>
</form>


    <div class="tabla-builds">

        <form method="POST" action="{% url 'actualizar_builds' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
        
            <table class="tabla-personalizada">
                <thead>
                    <tr>
                        <th>Version SQL</th>
                        <th>Build</th>
                        <th>KB (Knowledge Base)</th>
                        <th>Descripcion</th>
                        <th>Fecha oficial de publicación del parche</th>
                        <th>Soportado</th>
                        <th>fecha de registro</th>
                    </tr>
                </thead>
                <tbody>
                    {% for build in builds %}
                    <tr>
                        <td>{{build.major_version}}</td>
                        <td>{{build.build}}</td>
                        <td>{{build.kb}}</td>
                        <td>{{build.descripcion}}</td>
                        <td>{{build.release_date}}</td>
                        <td>{{build.soportado}}</td>
                        <td>{{build.fecha_registro}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>      
    </div>

</div>
{% endblock %}