{% extends "base.html" %}

{% block titulo %} Conexiones {% endblock %} 

{% load static %}

{% block contenido %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" style="display: flex; text-align: center; justify-content: center;" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show"  style="display: flex; text-align: center; justify-content: center;" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="contenedor-conexiones">
    <form method="POST" action="{% url 'registro_conexion' %}">
    {% csrf_token %}
    <div class="registro-conexion">
        <h2 
            style="background: linear-gradient(135deg, #0a253f 0%, #0d6efd 100%);
                    margin: 0px;
                    padding: 0 30px 0 30px;
                    border-radius: 20px 20px 0 0;
                    border: 1px solid #dee2e6;"
            >Registrar Conexion
        </h2>
        <div class="tarjeta-conexion">
                    <h5 style="margin: 10px 0 0 0">Ip del servidor</h5>
                        <input class="form-control" name="ip_servidor" type="text">
                    <h5 style="margin: 10px 0 0 0">Puerto</h5>
                        <input class="form-control" name="puerto" type="text">
                    <h5 style="margin: 10px 0 0 0">Tipo de autenticacion</h5>
                        <select class="form-select" name="autenticacion">
                                <option selected>Seleccion una opcion</option>
                                <option value="Sql user">Sql User</option>
                        </select>
                    <h5 style="margin: 10px 0 0 0">Usuario</h5>
                        <input class="form-control" name="usuario" type="text">                
                    <h5 style="margin: 10px 0 0 0">Contraseña</h5>
                        <input class="form-control" name="contraseña" type="password">
                    <button type="submit" class="btn btn-primary" style="margin: 10px 0 0 0">
                        Registrar Conexion
                    </button>   
        </div>
    </div>
    </form>

    <div class="tabla-conexiones">
            <table class="tabla-personalizada">
                <thead>
                    <tr>
                        <th>Ip</th>
                        <th>Puerto</th>
                        <th>Usuario</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for conexion in conexiones %}
                    <tr>
                        <td>{{conexion.ip_servidor}}</td>
                        <td>{{conexion.puerto}}</td>
                        <td>{{conexion.usuario}}</td>
                        <td>                          
                            <form method="POST" action="{% url 'eliminar_conexion' conexion.id %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" style="margin: 2.5px">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>      
    </div>

</div>
{% endblock %}