{% extends "base.html" %}

{% block titulo %} Inventario {% endblock %} 

{% load static %}

{% block contenido %}

<div class="titulo-personalizado">
    <h2>Inventario SQL Server</h2>
</div>

<div class="tabla-inventario">

{% if messages %}
    {% for message in messages %}

        <div class="alert 
            {% if message.tags == 'success' %}alert-success
            {% elif message.tags == 'error' %}alert-danger
            {% elif message.tags == 'warning' %}alert-warning
            {% else %}alert-info{% endif %}">
            {{ message }}
        </div>

    {% endfor %}
{% endif %}

        <form method="POST" action="{% url 'actualizar_inventario' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>

        <form method="POST" action="{% url 'verificar_checksql' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">obtener</button>
        </form>

            <table class="tabla-personalizada">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Ip</th>
                        <th>Hostname</th>
                        <th>Instancia</th>
                        <th>Puerto</th>
                        <th>S.O</th>
                        <th>build</th>
                        <th>ultima actualizacion</th>
                        <th>Check</th>

                        <th>Edicion</th>
                        <th>Servicios</th>
                        <th>tipo inicio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for instancia in instancias %}
                    <tr>
                        <td>{{instancia.servidor.cliente.nombre|default:"Cliente no asignado"}}</td>
                        <td>{{instancia.servidor.ip}}</td>
                        <td>{{instancia.servidor.hostname}}</td>
                        <td>{{instancia.nombre_instancia}}</td>
                        <td>{{instancia.puerto}}</td>
                        <td>{{instancia.edition}}</td>
                        <td>{{instancia.build}}</td>
                        {% for check in instancia.checksql.all%}
                        <td>
                            
                            <div class="contenedor-build-referencia">
                                <p style="margin: 0">{{check.nombre_ultima_update}}</p>
                                <p style="margin: 0">{{check.build_referencia}}</p>
                                <p style="margin: 0">{{check.fecha_publicacion}}</p>
                                <!--<p style="margin: 0">10 de Marzo de 2026</p>-->
                            </div>
                            
                        </td>
                        <td>
                            <strong>{{check.estado}}</strong>
                        </td>
                        {% endfor %}
                        <td>{{instancia.major_version}}</td>
                        <td>
                            <button
                                type="button"
                                class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#modalServicio{{ instancia.id_instancia }}">
                                <i class="bi bi-eye"></i>
                            </button> 

                            <!-- MODAL PARA SERVICIOS -->
                            <div class="modal fade" id="modalServicio{{ instancia.id_instancia }}" tabindex="-1">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalTitleId">
                                                Servicios de {{ instancia.nombre_instancia }}
                                            </h5>
                                            <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                            ></button>
                                        </div>
                                        <div class="modal-body">
                                                <table class="tabla-personalizada">
                                                    <thead>
                                                        <tr>
                                                            <th>Servicio</th>
                                                            <th>Estado</th>
                                                            <th>Tipo de inicio</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for servicio in instancia.servicios.all %}
                                                        <tr>
                                                            <td>{{ servicio.nombre_servicio }}</td>
                                                            <td>{{ servicio.estado_servicio }}</td>
                                                            <td>{{ servicio.tipo_inicio }}</td>
                                                        </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Cerrar
                                            </button>
                                            <button type="button" class="btn btn-primary">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </td>
                        <td>                          
                            <form method="POST" action="{% url 'eliminar_instancia' %}" style="display:inline;">
                                {% csrf_token %}
                                <input type="hidden" value="{{instancia.id_instancia}}" name="id_instancia">
                                <button type="submit" class="btn btn-danger" style="margin: 2.5px">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </form>
                            <form method="POST" action="" style="display:inline;">
                                {% csrf_token %}
                                <button type="button" 
                                        class="btn btn-primary" 
                                        data-bs-toggle="modal"
                                        data-bs-target="#modalId" 
                                        style="margin: 2.5px"
                                        id-servidor="{{instancia.servidor.id_servidor}}"
                                        id-cliente="{{instancia.servidor.cliente.id_cliente}}"
                                        data-nombre="{{instancia.servidor.cliente.nombre}}">
                                        <i class="bi bi-pencil"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>                
</div>

<!-- Modal para asignar cliente -->
<div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'asignar_cliente' %}">
                    {% csrf_token %}
                        <input type="hidden" class="form-control" id="cliente-id" name="id_cliente">
                        <input type="hidden" class="form-control" id="servidor-id" name="id_servidor">
                        <h4>Asigne cliente</h4>
                            <select
                                class="form-select"
                                id= "nombre-cliente"
                                name="cliente_id"
                            >
                                <option selected disabled>Seleccione...</option>

                                {% for cliente in clientes %}
                                    <option value="{{cliente.id_cliente}}">{{cliente.nombre}}</option>
                                {% endfor %}
                            </select>

                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                        >
                            Cerrar
                        </button>
                        <button type="submit" class="btn btn-primary">Modificar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>  
</div>

<script src="{% static 'js/llamado_cliente.js' %}"></script>
{% endblock %}