{% extends "base.html" %}

{% block titulo %} Inventario {% endblock %} 

{% load static %}

{% block contenido %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div id="mi-alerta" class="alert alert-danger fade" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div id="mi-alerta" class="alert alert-success fade" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="titulo-inventario">
    <h2 style="margin: 0">Inventario SQL Server</h2>
</div>

    <div class="tabla-inventario">

        <form method="POST" action="{% url 'actualizar_inventario' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>

            <table class="tabla-personalizada">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Ip</th>
                        <th>Hostname</th>
                        <th>Instancia</th>
                        <th>Puerto</th>
                        <th>S.O</th>
                        <th>build</th>
                        <th>Edicion</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for instancia in instancias %}
                    <tr>
                        <td>No especificado</td>
                        <td>{{instancia.servidor.ip}}</td>
                        <td>{{instancia.servidor.hostname}}</td>
                        <td>{{instancia.nombre_instancia}}</td>
                        <td>{{instancia.puerto}}</td>
                        <td>{{instancia.edition}}</td>
                        <td>{{instancia.build}}</td>
                        <td>{{instancia.major_version}}</td>
                        <td>                          
                            <form method="POST" action="" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" style="margin: 2.5px">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                   
                </tbody>
            </table>      
    </div>

</div>
{% endblock %}