body {
    font-family: 'Inter', sans-serif;
}

.contenedor-abuela{
    display: flex;
    min-height: 100vh;
}

.nombre-usuario{
    display: flex;
    text-decoration: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 15px;
    background: #1a1d21;
    border-right: 1px solid #2d3239;
    width: 250px;
    flex-shrink: 0;  /* <- esto evita que el sidebar se encoja */
    transition: width 0.25s ease, padding 0.25s ease;
    overflow: hidden;
    color: white;
       
    align-self: stretch; /* se estira automáticamente con el contenido */
    min-height: 100%;
}

.sidebar-inner {
    display: flex;
    flex-direction: column;
    min-width: 250px; /* mismo ancho que el sidebar */
    gap: 15px;
    
}

.sidebar.collapsed {
  width: 0;
  padding: 0; /* elimina el padding al colapsar */
}

.contenedor-titulo-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.contenedor-madre{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.barra-superior{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #adb5bd;
    margin: 0 0 20px 0;
}

.contenido-principal{
    display: flex;
    flex-direction: column;
    
    justify-content:flex-start;
    padding: 10px 30px;
    min-width: 0;     /* <- permite que el contenido se encoja en lugar del sidebar */
    overflow-x: auto; /* <- scroll horizontal en el contenido, no en el sidebar */
}

.nav-link {
    color: #adb5bd;
}

.nav-link:hover, .nav-link.active {
    color: white;
    background-color: #2d3239;
}

.card {
    background: #212529;
    border: 1px solid #2d3239;
}

.navbar {
    background: #212529 !important;
    border-bottom: 1px solid #2d3239;
}

/* TRANSICION CARGAR PAGINA */

.transicion-pagina {
    opacity: 1; /* estado inicial del elemento 1 = visible --> 0 = invisible */
    transition: opacity .30s ease; /* toda transicion de opacity dura 0.35 segundos */
}

.transicion-pagina.fade-out {
    opacity: 0; /* aca el elemento es invisible */
}

/* 
el flujo de este codigo funciona asi:
1) El elemento ya tiene opacity: 1 
2) se agrega la clase fade-out
3) opacity cambia de 1 → 0
4) transition detecta el cambio y lo hace gradualmente durante 0.35s
5) Resultado: el elemento se desvanece
*/

.transicion-pagina.fade-enter {
    opacity: 0; /* aca el elemento es invisible */
}

/* 
el flujo de este codigo funciona asi:
1) El elemento ya tiene opacity: 0 (invisible)
2) se quita la clase fade-enter
3) Vuelve al estado base: opacity: 1
4) transition detecta el cambio y lo hace gradualmente durante 0.35s
5) Resultado: el elemento aparece gradualmente
*/

