body {
    font-family: 'Inter', sans-serif;
}

.contenedor-abuela{
    display: flex;
}

.nombre-usuario{
    display: flex;
    text-decoration: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 15px;
    background: #1a1d21;
    border-right: 1px solid #2d3239;
    width: 250px;
    color: white;
    padding: 10px;   
    align-self: stretch; /* se estira automáticamente con el contenido */
    min-height: 100vh;
}

.contenedor-titulo-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor-madre{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.barra-superior{
    padding: 15px;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #adb5bd;
    margin: 0 0 20px 0;
}

.contenido-principal{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:flex-start;
    padding: 10px;
    margin-left: 30px;
}

.nav-link {
    color: #adb5bd;
}

.nav-link:hover, .nav-link.active {
    color: white;
    background-color: #2d3239;
}

.card {
    background: #212529;
    border: 1px solid #2d3239;
}

.navbar {
    background: #212529 !important;
    border-bottom: 1px solid #2d3239;
}