.tabla-inventario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    align-items: start;
}

.contenedor-servicios {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 5px;
}