.titulo-inventario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.tabla-inventario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    align-items: start;
}