.mensaje-alerta{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: fit-content;
    padding: 15px;
}

.alert{
    transition: opacity 0.5s ease;
    margin: 0;
    width: 80%;
}

.contenedor-alerta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0;
    width: 80%;
}