.mensaje-alerta{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: fit-content;
    padding: 15px;
}

.alert{
    transition: opacity 0.5s ease;
    margin: 0;
    width: 80%;
}

.contenedor-alerta{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: start;
    margin: 0 0 20px 0;
    min-width: 700px;
}