.titulo-personalizado{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 0 20px 0;
    gap: 10px;
}

.tabla-personalizada{
    width: 100%;
    margin: 0;
}

.tabla-personalizada tr {
    width: auto;
    height: auto;
}

.tabla-personalizada th,
.tabla-personalizada td {
    padding: 8px 10px;
    border: 1px solid #dee2e6;
    text-align: center;
    justify-content: center;
}

.tabla-personalizada thead{
    background: linear-gradient(135deg, #0a253f 0%, #0d6efd 100%);
    color: white;
}

.tabla-personalizada tbody{
    width: auto;
    height: auto;
}