
.contenedor-usuarios{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: top;
    gap: 200px;
}

.registro-usuarios{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 30px;
    margin: 0 0 50px 0;
    border: 1px solid #dee2e6;
    border-radius: 20px;
}

.tabla-usuarios{
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}


